#faq-container {
    width: 600px;
    padding: 0px 50px;
}

    #faq-container legend {
        padding-bottom: 0px;
    }

#faq {
    position: relative;
}

    #faq>h4 {
        color: #2f2d2d;
        cursor: pointer;
        margin: 0px;
        padding: 10px 20px;
        background: #dddcdc;
        border: 2px solid #fff;
        border-radius: 10px;
    }

        #faq>h4.active {
            color: #fff;
            background: #808080;
            border: 2px solid #2b8fee;
            border-bottom: #fff;
            border-radius: 1px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        #faq>h4:hover {
            background: #808080;
            color: #fff;
        }

    #faq>div {
        background: #dddcdc;
        border: 2px solid #2b8fee;
        border-top-color: #fff;
        border-radius: 1px;
        height: 0;
        overflow: hidden;
        position: relative;
        padding: 5px 10px;
        margin-bottom: 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius:10px;
    }

        #faq>div p {
            padding: 0.2px 20px;
            margin-bottom: 5px;
        }
